<div class="container">
  <div class="card">
    <mat-chip-listbox>
      <mat-chip-option
        *ngFor="let category of categories$ | async"
        (click)="onSelectCategory(category)"
        >{{ category.displayName }}</mat-chip-option
      >
    </mat-chip-listbox>
  </div>
  <ng-container *ngIf="books$ | async as books">
    <div class="card" *ngIf="books.length > 0; else noBooks">
      <mat-nav-list>
        <mat-list-item *ngFor="let book of books">
          <a matListItemTitle>{{ book.title }}</a>
          <button mat-icon-button (click)="onSelectBook(book)" matListItemMeta>
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelectBook(book)" matListItemMeta>
            <mat-icon>rate_review</mat-icon>
          </button>
          <button mat-icon-button (click)="onSelectBook(book)" matListItemMeta>
            <mat-icon>message</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </ng-container>
  <ng-template #noBooks>
    <div class="card">
      <div class="no-books">
        <p>No category selected.</p>
        <p>
          Search the NYT Books API by selecting one of their currently listed categories
          (chips on the left side). Once selected you can give a book a personal rating or
          make a comment about it on our in house forums!
        </p>
      </div>
    </div>
  </ng-template>
</div>
