.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  width: 500px;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;

  button {
    width: 100px;
  }

  .lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .review {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;

      mat-form-field {
        flex: 1;
        margin-right: 16px;
      }

      .tools {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
