.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  width: 500px;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;

  button {
    width: 100px;
    margin: 0 0 16px 0;
  }
}
