<form class="card" [formGroup]="form">
  <h2>{{ isLogin ? 'Login' : 'Register' }}</h2>
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Username" />
    <mat-error>Username is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Password" type="password" />
    <mat-error>Password is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">{{ isLogin ? 'Login' : 'Register' }}</button>
  <p>
    {{ isLogin ? "Don't have an account?" : 'Already have an account?' }}
    <a (click)="onSwitchMode()">{{ isLogin ? 'Register' : 'Login' }}</a>
  </p>
</form>
